# {{ ansible_managed }}

[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/local/bin/kubelet \
  --allow-privileged=true \
  --anonymous-auth=false \
  --authorization-mode=Webhook \
  --container-runtime=docker \
  --client-ca-file=/var/lib/kubernetes/ca.pem \
  --cluster-dns=10.32.0.10 \
  --cluster-domain=cluster.local \
  --image-pull-progress-deadline=2m \
  --kubeconfig=/var/lib/kubelet/{{ ansible_hostname }}.kubeconfig \
  --node-ip={{ hostvars[inventory_hostname]['ansible_enp0s8']['ipv4']['address'] }} \
  --register-node=true \
  --tls-cert-file=/var/lib/kubelet/{{ ansible_hostname }}.pem \
  --tls-private-key-file=/var/lib/kubelet/{{ ansible_hostname }}-key.pem \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
