# {{ ansible_managed }}

[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
Type=notify
ExecStart=/usr/local/bin/etcd \
  --name  {{ ansible_hostname }} \
  --cert-file=/etc/etcd/k8s-master.pem \
  --key-file=/etc/etcd/k8s-master-key.pem \
  --peer-cert-file=/etc/etcd/k8s-master.pem \
  --peer-key-file=/etc/etcd/k8s-master-key.pem \
  --trusted-ca-file=/etc/etcd/ca.pem \
  --peer-trusted-ca-file=/etc/etcd/ca.pem \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://{{ inventory_hostname }}:2380 \
  --listen-peer-urls https://{{ inventory_hostname }}:2380 \
  --listen-client-urls https://{{ inventory_hostname }}:2379,http://127.0.0.1:2379 \
  --advertise-client-urls https://{{ inventory_hostname }}:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster k8s-master1=https://{{ groups['k8s-masters'][0] }}:2380,k8s-master2=https://{{ groups['k8s-masters'][1] }}:2380,k8s-master3=https://{{ groups['k8s-masters'][2] }}:2380 \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
